/**
 * Themes Module Style Sheet for Phire CMS 2
 */

.themes-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f1fc";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.themes-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.themes-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f1fc";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

.theme-screenshot {
    margin: 0;
    padding: 3px;
    background-color: #fff;
    border: solid 1px #ccc;
}